<h3>Service Provider</h3>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Cell Phone</th>
        <th>Number of Listings</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row" *ngFor="let sp of this.serviceProviderService.getServiceProviders()">
        <td contenteditable="true">{{sp.name}}</td>
        <td contenteditable="true">{{sp.lastName}}</td>
        <td contenteditable="true">{{sp.email}}</td>
        <td contenteditable="true">{{sp.cellPhone}}</td>
        <td contenteditable="true">{{sp.numberOfListings}}</td>
      </tr>
    </tbody>
  </table>

  <button (click)="toggleDisplayForm()" id="add-sp-button">Add Service Provider</button>

  <div *ngIf="displayForm" id="form">
    <label>First Name:</label>
    <input type="text" name="firstName" [(ngModel)] = "firstName">
    <br>
    <label>Last Name:</label>
    <input type="text" name="lastName" [(ngModel)] = "lastName">
    <br>
    <label>Email:</label>
    <input type="text" name="email" [(ngModel)] = "email">
    <br>
    <label>Cell Phone:</label>
    <input type="text" name="cellPhone" [(ngModel)] = "cellPhone">
    <br>
    <label>Number of Listings:</label>
    <input type="text" name="numberOfListings" [(ngModel)] = "numberOfListings">
    <br>
    <button (click)="addNewServiceProvider()">Add</button>
    
    <button (click)="toggleDisplayForm()">Cancel</button>
  </div>
</div>