<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="listings">
        <ion-icon name="home"></ion-icon>
        <ion-label>Listings</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="bookings">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Bookings</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="inbox">
        <ion-icon name="chatboxes"></ion-icon>
        <ion-label>Inbox</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon name="person"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
