$grey-color: rgb(65, 63, 63);

ion-button {
    font-weight: 300;
    margin: 30px;
}

ion-avatar {
    margin-top: 30px;
    margin-left: 50px;
}

div {
    color: $grey-color;
    font-size: 15px;
    padding-left: 30px;
}

h1 {
    font-size: 35px;
    margin-bottom: -15px;
}

h3 {
    font-size: 25px;
    font-weight: 360;
}

h4 {
    font-size: 20px;
    font-weight: 300;
}

h5 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 10px;
}

#main-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    padding-left: 0;
}

#about {
    margin-bottom: 40px;
    line-height: 25px;
}

#logout {
    position: fixed;
    right: 0px;
    top: 0px;
    margin: 10px;
}