<ion-header>
  <ion-toolbar>
    <ion-title>Book now: {{getListingTitle()}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="navToListingDetails()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" size-lg="5" size-xs="12">

        <div>
          <h1>Choose Dates:</h1>
        </div>
      
        <div>
          <ion-item>
            <ion-input type="date" placeholder="Start date" [(ngModel)] = "dateStart"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="date" placeholder="End date" [(ngModel)] = "dateEnd"></ion-input>
          </ion-item>
        </div>
        
        <div>
          <ion-button (click)="createBooking()" size="large" expand="block">Book now</ion-button>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>