<ion-header>
  <ion-toolbar>
    <ion-title>Create a new listing</ion-title>
    <ion-buttons slot="start">
      <ion-back-button (click)="navToListings()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size-md="6" size-lg="5" size-xs="12">

          <div>
            <ion-label>Name of listing:</ion-label>
            <ion-item>
              <ion-input required value="" [(ngModel)] = "title"></ion-input>
            </ion-item>
            <br><br>
            <ion-label>Location:</ion-label>
            <ion-item>
              <ion-input required value="" [(ngModel)] = "location"></ion-input>
            </ion-item>
            <br><br>
            <ion-label>Number of people:</ion-label>
            <ion-item>
              <ion-input required value="" [(ngModel)] = "numberOfPeople"></ion-input>
            </ion-item>
            <br><br>
            <ion-label>Price per night:</ion-label>
            <ion-item>
              <ion-input required value="" [(ngModel)] = "pricePerNight"></ion-input>
            </ion-item>
            <br><br>
            <ion-label>Description:</ion-label>
            <ion-textarea required rows="5" [(ngModel)] = "description"></ion-textarea>
          </div>
            
          <div>
            <ion-button (click)="createListing()" size="large" expand="block">Create listing</ion-button>
          </div>
    
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>