<ion-header>
  <ion-toolbar>
    <ion-title>Bookings</ion-title>
    <ion-button id="logout" (click)="logout()" size="medium">Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-col>

      <ion-row *ngFor="let booking of bookings">
        <b>{{booking.getStatus()}}</b>
        {{booking.getDateStart()}} to {{booking.getDateEnd()}}

        <div *ngIf="booking.isPending()">
          <ion-button color="success" (click)="accept(booking)" size="medium" expand="block">Accept</ion-button>
          <ion-button color="danger"  (click)="reject(booking)" size="medium" expand="block">Reject</ion-button>
        </div>
      </ion-row>

    </ion-col>
  </ion-grid>
</ion-content>
